@import 'tailwindcss';

.my-shadow {
  box-shadow: 2px 1px 5px #e2e2e2;
}

body {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width:8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0e3c70;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #17559c;
}
